@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #2A2F35;
  --secondary-color: #999999;
  --tercer-color: #666;
  --blue-mor: #05a8f4;
}
.container-nosotros {
  margin-top: 100px;
}
.instalaciones-des {
  display: none;
}
.container-about {
  width: 100%;
  padding: 60px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-about .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
}
.container-about .about .item-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  max-width: 350px;
}
.container-about .about .item-about img {
  width: 100%;
  max-width: 300px;
}
.container-about .about .item-about h3 {
  font-size: 25px;
  margin: 20px 0;
}
.container-instalaciones {
  width: 100%;
  padding: 60px 1rem;
  background-color: #d6d6d6;
  text-align: center;
}
.container-instalaciones h2 {
  margin-bottom: 20px;
  color: var(--tercer-color);
}
.sample-slider-3{
  width: 100%;
  height: 100%;
}
.sample-slider-3 .swiper-slide{
  height: auto; 
}
.sample-slider-3 img{
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
  height: -webkit-fill-available;
}
/*Media Queries*/
@media (min-width: 768px) {
  .container-nosotros {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .container-about .about {
    flex-direction: row;
    align-items: flex-start;
  }
  .container-about .about .item-about {
    margin-bottom: 0;
  }
  .container-instalaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-instalaciones h2 {
    font-size: 50px;
  }
  .container-about .about .item-about img {
    width: 300px;
  }
  .container-instalaciones .instalaciones {
    display: none;
  }
  .container-instalaciones .instalaciones-des {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
  }
  .container-instalaciones .instalaciones-des img {
    width: 100%;
    height: 100%;
    border: 3px #272728 solid;
  }

  /* .foto-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .foto-2 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .foto-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  } */
  /* .foto-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .foto-5 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .foto-6 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .foto-10 {
    grid-column-start: 1;
    grid-column-end: 4;
  } */
}
