@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #2A2F35;
  --secondary-color: #999999;
  --tercer-color: #666;
  --blue-mor: #05a8f4;
}

/*Promociones*/
#parallax {
  background-image: url('../img/bg-promos-1.webp');
  height: 800px;
}
.container-parallax {
  display: grid;
  place-items: center;
  margin: 30px;
  padding: 15px;
  max-width: 400px;
  text-align: center;
  color: white;
}
.more-info {
  display: grid;
  place-items: center;
  width: 100%;
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
}
.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--secondary-color), #05a8f42d);
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-info p {
  margin: 20px;
  text-align: center;
  color: white;
  font-weight: 700
}
.more-info .btn-mas-info button{
  font-weight: 300;
  padding: 9px 25px;
  background: var(--secondary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  color: white;
  margin-bottom: 20px;
}
.more-info a:hover {
  transform: scale(1.1);
  transition: all 0.275s linear;
}
.more-info a {
  font-size: 700;
  color: #eceff1;
  cursor: pointer;
  transition: all 0.275s linear;
  text-decoration: none;
}
.more-info strong {
  font-size: 20px;
}
.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--tercer-color);
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}
.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}
.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--secondary-color);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.button:hover {
  box-shadow: 1px 1px 200px var(--primary-color);
  color: #fff;
  border: none;
}
.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
.promociones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px;
  gap: 1rem;
}
.promociones .promociones-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  row-gap: 60px;
  column-gap: 30px;
  max-width: 1200px;
}
.promociones .promociones-grid .item-promociones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.promociones .promociones-grid .item-promociones img {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 10px 10px 15px 3px #8c8c8c;
  transition: all 0.275s ease-in;
}
.promociones .promociones-grid .item-promociones img:hover {
  transition: all 0.275s ease-in;
  transform: rotate(5deg) scale(1.05);
}
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  padding: 20px 1rem;
  width: 100%;
}
.faq h2 {
  color: white;
  margin-bottom: 15px;
}
.faq details {
  color: white;
  padding: 10px 20px;
  border: 1px white solid;
  border-radius: 20px;
  margin: 10px 0;
  font-size: 14px;
  width: 100%;
}
.faq p {
  margin-top: 15px;
  color: #dbdbdb;
}
/*Media quieres*/
@media (min-width: 767px) {
  .more-info h1 {
    font-size: 35px;
  }
  .more-info p {
    font-size: 20px;
  }
  .more-info strong {
    font-size: 30px;
  }
  .container-parallax {
    max-width: 500px;
  }
  .promociones .promociones-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .faq details {
    width: 100%;
  }
  #parallax {
    background-size: contain;
    background-repeat: repeat;
  }
  .faq h2 {
    font-size: 30px;
  }
  .more-info .btn-mas-info button {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {

  .promociones {
    padding: 20px;
  }

  .promociones .promociones-grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 70px;
  }
}